/Source/Cliente/nbproject/private/
/Source/Client/nbproject/private/
/Source/Client/build/
/Source/Client/dist/
/Source/Cliente/build/
/Source/Cliente/dist/
/Source/Servidor/nbproject/private/
/Source/Servidor/build/